* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.poster_info {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
}
.movie-info {
  width: 100%;
}
.movie-info h1 {
  font-family: Qanelas;
  font-size: 65px;
  font-weight: 900;
  line-height: 82.81px;
  text-align: left;
  color: #fff;
}
.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.movie-info h2 {
  font-family: Qanelas;
  font-size: 25px;
  font-weight: 500;
  line-height: 30.18px;
  text-align: left;
  color: white;
}

.ratings {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3657cb;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.rating strong {
  font-size: 18px;
  color: #fff;
}

.description {
  margin: 20px 0;
  font-family: Qanelas;
  font-size: 20px;
  font-weight: 500;
  line-height: 33.3px;
  text-align: left;
  color: #fff;
}

.movie-details ul {
  list-style: none;
  margin-top: 20px;
}

.movie-details a {
  font-family: Qanelas;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.42px;
  text-align: left;
  color: #f2f60f;
  text-decoration: underline;
}

.movie-details strong {
  font-family: Qanelas;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.73px;
  text-align: left;
  margin-bottom: 10px;
  color: #fff;
}
